{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>Confirm Deletion</h1>
<p>Are you sure you want to delete the project: "{{ project.title }}" from the portfolio "{{ portfolio.title }}"?</p>
<!-- confirm deletion button -->
<form method="post" action="{% url 'delete_project' project.id %}">
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a href="{% url 'portfolio-detail' project.portfolio.pk %}">Cancel</a>
    <input type="hidden" name="confirm" value="yes">
</form>

{% endblock %}